langchain
llama-index==0.10.14
llama-index-embeddings-huggingface==0.2.0  
fastapi
uvicorn
gunicorn
requests
python-dotenv
google-generativeai
psutil>=7.0.0
nltk
pandas
numpy
scikit-learn
starlette
python-multipart
aiofiles
